.Rproj.user
.Rhistory
.RData
.Ruserdata
R/11-study-empirical-butterfly-data.R
R/11-study-empirical-extractionSpatialCovariates.R
R/11-study-empirical-organize-occupancy-data.R
model_output
SpartaTest.md
SpartaTest.rmd
Data/SpatialData/33-gironde
